
/* ///////////////////// */
h1 {
  font-size: clamp(1.5rem, 5vw, 3rem);
  text-align: center;
  /* color: #0B0F29; */
  color: #F4502F;
  -webkit-text-stroke: 0.5px rgb(255, 255, 255)

}
.container {
  margin: 0 auto;
  width: 50%;
  display: grid;
  grid-template-areas:
    'gallery ing ing '
    'howto howto howto ';
  row-gap: 10px;
  column-gap: 50px;
  /* display: flex; */
  flex-wrap: wrap;
  /*border: 1px solid red;*/
}
.image-wrapper {
  grid-area: gallery;
  display: flex;
  justify-content: flex-start; /*maybe center*/
  /*border: 2px solid green;*/
  position: relative;
}
.image-wrapper > button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: white;
  position: absolute;
  top: calc(50% - 20px);
}
.image-wrapper > button.prev {
  left: 0;
}
.image-wrapper > button.next {
  right: 0;
}
.image {
  width: 100%;
  object-fit: cover;
  border: 5px solid #0B0F29;
  border-radius: 10px;
  box-sizing: border-box;
}
.ingredients {
  opacity: 0.9;
  grid-area: ing;
  background-color: rgb(239, 239, 239);
  padding: 10px;
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  /*border: 1px solid grey;*/
}

.howto {
  grid-area: howto;
  opacity: 0.9;
  background-color: rgb(239, 239, 239);
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.uneven_text{
  color: rgb(175, 175, 175);
}
/* /////////////////////// */

a{
  color: rgb(116, 116, 116);
}

a:hover{
  color: rgb(116, 116, 116);
}

.a:visited{
  color: rgb(116, 116, 116);
}

/* /////////////////////// */

.checklist {
	padding: 50px;
	position: relative;
	/* background: #043b3e; */
	/* border-top: 50px solid #03a2f4; */
}
.checklist h2 {
	color: #f3f3f3;
	font-size: 25px;
	padding: 10px 0;
	margin-left: 10px;
	display: inline-block;
	border-bottom: 4px solid #f3f3f3;
}
.checklist label {
	position: relative;
	display: block;
	margin: 40px 0;
	color: #fff;
	font-size: 24px;
	cursor: pointer;
}
.checklist input[type="checkbox"] {
	-webkit-appearance: none;
}
.checklist i {
	position: absolute;
	top: 2px;
	display: inline-block;
	width: 25px;
	height: 25px;
	border: 2px solid #fff;
}
.checklist input[type="checkbox"]:checked ~ i {
	top: 1px;
	height: 15px;
	width: 25px;
	border-top: none;
	border-right: none;
	transform: rotate(-45deg);
}
.checklist span {
	position: relative;
	left: 40px;
	transition: 0.5s;
}
.checklist span:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 1px;
	background: #fff;
	transform: translateY(-50%) scaleX(0);
	transform-origin: left;
	transition: transform 0.5s;
}
.checklist input[type="checkbox"]:checked ~ span:before {
	transform: translateY(-50%) scaleX(1);
	transform-origin: right;
	transition: transform 0.5s;
}
.checklist input[type="checkbox"]:checked ~ span {
	color: #154e6b;
}

/* .parent {
  display: flex;
  flex-wrap: wrap;
} */